<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ibpjchupacabradao.Properties.Settings.ChaveAcessoConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ChaveAcesso.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ibpjchupacabradao.Properties.Settings.Chupa_CabraConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Chupa_Cabra.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>